.nav_bar{
	min-width: calc(100% - 20px);
	display: flex;
	min-height: 60px;
	background-color: #5053A4;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	color: white;
}
.nav_left{
}
.nav_left h3{
	cursor: pointer;
}
.nav_right{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.nav_btn{
	cursor: pointer;
	text-decoration: none;
	padding: 10px;
	margin:5px;
}
.nav_btn:active{
	border-bottom: 1px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	scale: 0.95;
	padding:11px;
}